.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border-bottom: 2px var(--mg-green) solid;
}

.leftDiv,
.rightDiv {
    padding: 0.25rem;
}

.leftDiv img {
    display: block;
    width: calc(32px + 15vw);
    max-width: 128px;
    height: auto;
}

.rightDiv {
    text-align: right;
}
